<img src="/src/images/noposter.jpg" alt="Film Poster" class="modal-film__poster" width="240" height="357" />

<div class="card-container">
    <h2 class="modal-film__title">A FISTFUL OF LEAD</h2>

    <table class="modal-film__features">
        <tr class="modal-film__row">
            <td class="modal-film__feature">Vote / Votes</td>
            <td class="modal-film__feature-value">
                <span class="modal-film__value-vote">7.3</span> /
                <span class="modal-film__value-votes">1260</span>
            </td>
        </tr>
        <tr>
            <td class="modal-film__feature">Popularity</td>
            <td class="modal-film__feature-value">100.2</td>
        </tr>
        <tr>
            <td class="modal-film__feature">Original Title</td>
            <td class="modal-film__feature-value">A FISTFUL OF LEAD</td>
        </tr>
        <tr>
            <td class="modal-film__feature">Genre</td>
            <td class="modal-film__feature-value">Western</td>
        </tr>
    </table>

    <article class="modal-film__article">
        <h3 class="modal-film__article-title">ABOUT</h3>
        <p class="modal-film__article-text">
            Four of the West’s most infamous outlaws assemble to steal a huge
            stash of gold from the most corrupt settlement of the gold rush
            towns. But not all goes to plan one is killed and the other three
            escapes with bags of gold hide out in the abandoned gold mine where
            they happen across another gang of three – who themselves were
            planning to hit the very same bank! As tensions rise, things go from
            bad to worse as they realise the bags of gold are filled with
            lead... they’ve been double crossed – but by who and how?
        </p>
    </article>
    <div class="modal-film__buttons">
        <button type="button" class="modal-film__button modal-film__button-watched">
            ADD TO WATCHED
        </button>
        <button type="button" class="modal-film__button modal-film__button-queue">
            ADD TO QUEUE
        </button>
    </div>
</div>