@mixin minMedia($startBreakpoint) {
  @media screen and (min-width: $startBreakpoint) {
    @content;
  }
}

@mixin maxMedia($finishBreakpoint) {
  @media screen and (max-width: $finishBreakpoint) {
    @content;
  }
}

@mixin rangeMedia($startBreakpoint, $finishBreakpoint) {
  @media screen and (min-width: $startBreakpoint) and (max-width: $finishBreakpoint) {
    @content;
  }
}

@mixin centeredFlex($type: flex, $align: center, $just: center) {
  display: $type;
  align-items: $align;
  justify-content: $just;
}
