:root {
  // Fonts
  --font-general: Roboto, sans-serif;

  // Accent color
  --primary-accent-color: #FF6B08;
  --secondary-accent-color: #FF001B;


  //Text colors
  --primary-lighttext-color: #fff;

  --primary-darktext-color: #000;

  --copyright-text-color: #545454;


  //Input field background color
  --input-background: rgba(248, 210, 78, 0.1);
}