:root {
  // Fonts
  --font-general: Roboto, sans-serif;

  // Accent color
  --primary-accent-color: #ff6b08;
  --secondary-accent-color: #ff001b;

  //Text colors
  --primary-lighttext-color: #fff;

  --primary-darktext-color: #000;

  --copyright-text-color: #545454;

  // Effects
  --main-effect: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
