<footer class="footer">
  <div class="container">
    <div class="copyright">
      <p class="copyright_left-text">
        © 2022 | <span class="lng-rights">All Rights Reserved</span> |
        <span class="mob-fix"
          ><span class="lng-developed">Developed with</span>
          <svg class="footer_heart" width="14px" height="12.88px">
            <use href="/src/images/svg/icons.svg#heart"></use>
          </svg>
          <span class="lng-by">by</span>
          <a href="" id="js-modal-team" class="team-link lng-students"
            >GoIT Students</a
          >
        </span>
      </p>
    </div>
  </div>
</footer>
