<section class="movie-gallery">
  <div class="container">
    <h1 class="visually-hidden">Main Filmoteka page</h1>
    <div class="library-img-wrapper visually-hidden">
      <img
        class="img-for-no-list"
        src="./images/no-movies-on-a-list.jpg"
        alt="There is no movies on the list yet!"
        loading="lazy"
      />
    </div>
    <div class="movie-error-wrapper visually-hidden">
      <img
        class="movie-error-img"
        src="./images/no-movies-found.jpg"
        alt="The movie you were looking for doesn't exist"
        loading="lazy"
      />
    </div>
    <ul class="movie-list js-trend-film"></ul>
    <div id="tui-pagination-container" class="tui-pagination pagination-box"></div>
    <div id="tui-pagination-container-search" class="tui-pagination pagination-box visually-hidden"></div>
  </div>
</section>

