<header class="header ">
  <div class="header-container">
    <div class="header-wrapper">
      <a href="./index.html" class="header-logo__list">
        <svg class="header-logo__icon" width="24" heigth="24">
          <use href="./images/svg/icons.svg#logo-film"></use>
        </svg>
        <span class="header-logo-text__link">Filmoteka</span>
      </a>
      <nav class="header-navigation">
        <ul class="list header-list">
          <li class="header-list__item">
            <button class="darktheme__button toggle-darktheme-btn">🌙
              <!-- <svg class="darktheme__icon" width="24" heigth="24">
                <use href="/src/images/svg/icons.svg#icon-sun-svgrepo-com"></use>
              </svg> -->
            </button>
          </li>
          <li class="header-list__item">
            <button
              id="home"
              class="header-list__button current home__btn lng-home"
              type="button"
              onclick="window.location.href = './index.html';"
            >
              Home
            </button>
          </li>
                    <li class="header-list__item visually-hidden" data-library-item>
            <button
              id="library"
              class="header-list__button library__btn lng-library"
              type="button"
              onclick="window.location.href = './library.html';"
            >
              Library
            </button>
          </li>
          <li class="header-list__item" data-login-item>
            <button
              id="login"
              class="header-list__button login__btn lng-login"
              type="button" data-modal-open data-login>
              Log In
            </button>
          </li>
          <li class="header-list__item visually-hidden" data-logout-item>
            <button
              id="logout"
              class="header-list__button logout__btn lng-logout"
              type="button"
              data-logout
            >
              Log Out
            </button>
          </li>
        </ul>
      </nav>
      <select name="langs" id="langs" class="switch-lang">
        <option value="uk" selected>UA</option>
        <option value="en">EN</option>
        <option value="de">DE</option>
      </select>
    </div>

    <form class="search-form">
      <input
        class="header-input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Movie search"
      />
      <button class="button-search" type="submit">
        <svg class="input__icon" width="12" height="12">
          <use href="./images/svg/icons.svg#icon-search-icon"></use>
        </svg>
      </button>
    </form>

</header>
