<header class="header__library">
  <div class="header-container">
    <div class="header-wrapper">
      <a href="./index.html" class="header-logo__list">
        <svg class="header-logo__icon" width="24" heigth="24">
          <use href="./images/svg/icons.svg#logo-film"></use>
        </svg>
        <span class="header-logo-text__link">Filmoteka</span>
      </a>
      <nav class="header-navigation">
        <ul class="list header-list">
          <li class="header-list__item">
            <button class="darktheme__button toggle-darktheme-btn">🌙</button>
          </li>
          <li class="header-list__item">
            <button
              id="home"
              class="header-list__button home__btn"
              type="button"
              onclick="window.location.href = './index.html';"
            >
              Home
            </button>
          </li>
          <li class="header-list__item">
            <button
              id="library"
              class="header-list__button current library__btn"
              type="button"
              onclick="window.location.href = './library.html';"
            >
              My Library
            </button>
          </li>

          <li class="header-list__item">
            <button
              id="logout"
              class="header-list__button logout__btn"
              type="button"
            >
              Log out
            </button>
          </li>
        </ul>
      </nav>

      <select name="langs" id="langs" class="switch-lang">
        <option value="en" selected>EN</option>
        <option value="ua">UA</option>
        <option value="de">DE</option>
        <option value="ru">RU</option>
      </select>
    </div>

    <div class="library-button__list">
      <button id="watched" class="library-btn watched-btn active" type="button">
        Watched
      </button>
      <button id="queue" class="library-btn queue-btn" type="button">
        Queue
      </button>
    </div>
  </div>
</header>
