<div class="backdrop is-hidden" data-loginmodal>
  <div class="modal">
    <button type="button" class="modal-close__button" data-loginmodal-close>
      <svg class="modal-close__icon" width="25" height="25">
        <use href="/src/images/svg/icons.svg#icon-close"></use>
      </svg>
    </button>
    <p class="modal__title lng-login">Log In</p>
    <form action="#" class="modal__form">
      <div class="modal__field">
        <label for="email"></label>
        <div class="modal__input-wrap">
          <input type="email" name="user-email" id="email" class="modal__input" placeholder="Email"
            required="required" />
        </div>
      </div>
      <div class="modal__field">
        <label for="tel"></label>
        <div class="modal__input-wrap">
          <input type="tel" name="user-tel" id="password" class="modal__input" placeholder="Password"
            required="required" />
        </div>
      </div>
      <button type="submit" class="button modal-login__button lng-login" data-modal-login>
        Log In
      </button>
      <button type="submit" class="button modal-login__button lng-signin" data-modal-signup>
        Sign Up
      </button>
      <button type="button" class="button modal-login__button lng-login" data-modal-google-auth>
        Google Authorise
      </button>
    </form>
  </div>
</div>