<div class="backdrop is-hidden" data-loginmodal>
  <div class="modal">
    <button type="button" class="modal-close__button" data-loginmodal-close>
      <svg class="modal-close__icon" width="25" height="25">
        <use href="/src/images/svg/icons.svg#icon-close"></use>
      </svg>
    </button>
    <p class="modal__title">Log In</p>
    <form class="register-form" autocomplete="off">
      <input type="email" name="email" placeholder="Email" />
      <input type="password" name="password" placeholder="Password" />
      <button type="submit" class="button modal-login__button">Log In</button>
    </form>
  </div>
</div>
