.modal-film__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;

    padding: 20px;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;

    background-color: rgba(0, 0, 0, 0.25);
    opacity: 1;
    visibility: visible;
    transition: opacity var(--main-effect), visibility var(--main-effect);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-film__modal {
    width: 280px;
    padding: 48px 20px 40px 20px;
    position: absolute;
    margin: 0 auto;
    
    @include minMedia($tab) {
        width: 704px;
        padding: 40px 72px 40px 36px;
    }
    
    @include minMedia($desk) {
        width: 806px;
        padding-left: 12px;
        padding-right: 12px;
    }

    opacity: 1;
    visibility: visible;

    transition: transform var(--main-effect),
    opacity var(--main-effect),
    visibility var(--main-effect);

    background-color: #fff;

    .modal-film__backdrop.is-hidden & {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: scale(0.5);
    }
}

.modal-film__button-close {
    position: absolute;
    top: 8px;
    right: 8px;

    @include centeredFlex;
    width: 30px;
    height: 30px;
    padding: 0;

    color: #000000;
    border: none;
    background-color: transparent;

    transition: transform var(--main-effect), color var(--main-effect), border-color var(--main-effect);

    &:hover,
    &:focus {
        transform: rotate(90deg);
    }
}

.modal-film__button-close-icon {
    width: 14px;
    height: 14px;
    stroke: currentColor;
}

.modal-container {
    @include minMedia($tab) {
        display: flex;
        }
}

.modal-film__poster {
    margin-bottom: 20px;
    height: 100%;
    border-radius: 5px;

    @include minMedia($tab) {
        width: 264px;
        margin-bottom: 0;
        margin-right: 67px;
    }

    @include minMedia($desk) {
        width: 375px;
        margin-right: 16px;
    }
}

.modal-film__title {
    margin-bottom: 16px;
    font-family: var(--font-general);
    font-weight: 500;
    font-size: 20px;
    line-height: (23 / 20);
    color: var(--primary-darktext-color);

    @include minMedia($desk) {
            font-size: 30px;
            line-height: (35 / 30);
        }
}

.modal-film__features {
    margin-bottom: 16px;
    font-family: var(--font-general);
    font-weight: 500;
    font-size: 12px;
    line-height: (16 / 12);
    color: var(--primary-darktext-color);
    border-spacing: 0 4px;
}

.modal-film__feature {
    padding: 0 40px 0 0;
    color: #8C8C8C;

    @include minMedia($desk) {
        padding-right: 85px;
    }

    &-value {
            padding: 0;
        }
}

.modal-film__value-vote {
    color: var(--primary-lighttext-color);
    background-color: #FF6B01;
    border-radius: 5px;
    padding: 1px 10px;
}

.modal-film__article {
    margin-bottom: 20px;
    font-family: var(--font-general);
    font-weight: 500;
    font-size: 12px;
    line-height: (20 / 12);
    color: var(--primary-darktext-color);

    &-title {
        margin-bottom: 8px;
        font-size: 12px;
        font-weight: 500;
        line-height: (16 / 12);
    }
}

.modal-film__buttons {
    @include centeredFlex;

    @include minMedia($desk) {
        justify-content: start;
        margin-left: 8px;
    }
}

.modal-film__button {
    @include centeredFlex;

    cursor: pointer;
    width: 110px;
    border-radius: 5px;
    font-family: var(--font-general);
    font-weight: 500;
    font-size: 12px;
    line-height: (16 / 12);

    @include minMedia($tab) {
        width: 125px;
    }

    @include minMedia($desk) {
        width: 136px;
    }

    &-watched {
        padding: 7px 27px 5px 27px;
        margin-right: 20px;
        background-color: #FF6B01;
        color: var(--primary-lighttext-color);
        border: none;

        @include minMedia($tab) {
            padding: 14px 9px 12px 9px;
            margin-right: 15px;
        }
    }

    &-queue {
        padding: 14px 0 12px 0;
        background-color: var(--primary-lighttext-color);
        color: var(--primary-darktext-color);
        border: 1px solid #000;

        @include minMedia($tab) {
                padding: 13px 7px 11px 7px;
            }
    }


}