.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;

  padding: 20px;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;

  background-color: rgba(0, 0, 0, 0.25);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity var(--main-effect), visibility var(--main-effect);

  @include minMedia($desk) {
    align-items: center;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all var(--main-effect);

  background-color: rgba(0, 0, 0, 0.25);
  visibility: visible;
  transition: opacity var(--main-effect), visibility var(--main-effect);
}

.modal {
  width: 280px;
  padding: 50px 20px 40px 20px;
  position: absolute;
  margin: 0 auto;
  border: 2px solid var(--primary-darktext-color);
  border-radius: 5px;

  @include minMedia($tab) {
    width: 450px;
    padding: 40px 80px;
  }

  @include minMedia($desk) {
    width: 500px;
    padding-left: 100px;
    padding-right: 100px;
  }

  opacity: 1;
  visibility: visible;

  transition: transform var(--main-effect), opacity var(--main-effect),
    visibility var(--main-effect);

  background-color: #fff;

  .darkTheme & {
    background-color: #696060;
  }

  .backdrop.is-hidden & {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scale(0.5);
  }
}

.modal-close__button {
  position: absolute;
  top: 8px;
  right: 8px;

  @include centeredFlex;
  width: 30px;
  height: 30px;
  padding: 0;

  color: #000000;
  border: none;
  background-color: transparent;

  transition: transform var(--main-effect), color var(--main-effect),
    border-color var(--main-effect);

  .darkTheme & {
    color: #fff;
  }

  &:hover,
  &:focus {
    transform: rotate(180deg) translate(2px, 2px);
    color: #ff6b01;
  }
  &:hover,
  &:focus {
    transform: rotate(180deg);
    translate: 1px 1px;
    color: #ff6b01;
  }
}

.modal-close__icon {
  width: 14px;
  height: 14px;
  stroke: currentColor;
}

.modal__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.1em;
  color: var(--primary-darktext-color);
  text-align: center;
  margin-bottom: 20px;
}

.signup-title {
  margin-bottom: 10px;
  font-size: 35px;
}

.modal__input {
  width: 100%;
  height: 40px;
  background-color: #dcdcdc;
  border-radius: 4px;
  box-sizing: border-box;
  padding-left: 36px;
  padding-bottom: 12px;
  padding-top: 12px;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:hover,
.modal__input:focus {
  box-shadow: 0 0px 30px rgb(255, 107, 1, 0.5);
  background-color: #fff;
  border: 1px solid var(--primary-accent-color);
}

.modal__field {
  display: flex;
  flex-direction: column;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.form-icon {
  position: absolute;
  left: 14px;
  transform: translateY(50%);

  width: 18px;
  height: 18px;
}

.modal__field label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-login__button {
  display: block;
  margin: 0 auto;

  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  min-width: 150px;
  padding: 12px;
  border-radius: 5px;
  background-color: transparent;
  color: var(--primary-darktext-color);
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid var(--primary-darktext-color);

  @include minMedia($tab) {
    min-width: 190px;
    padding: 13px;
  }

  @include minMedia($desk) {
    padding: 13px 0 11px 0;
  }
  transition: var(--main-effect);

  .darkTheme & {
    border: 1px solid var(--header-white-color);
    color: var(--header-white-color);
  }

  &:hover {
    box-shadow: 0 0px 30px rgb(255, 107, 1, 0.5);
    border-color: var(--primary-accent-color);
    color: var(--primary-accent-color);
  }

  &:focus-within {
    background-color: var(--primary-accent-color);
    color: var(--primary-lighttext-color);
    border-color: var(--primary-accent-color);
  }
}

.modal__input-wrap {
  position: relative;
}

.sign-up-text {
  font-weight: 700;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}
.or-text {
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
