a {
  text-decoration: none;
}
@include maxMedia($tab) {
  .films-card-container {
    width: 320px;
    margin: 0 auto;
  }
  .films-card {
    width: 280px;
    height: 443px;
    margin: 0 auto;
  }
  .film-item-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }

  .film-description-wrapper {
    display: flex;
    align-items: center;
  }
  .film-description-title {
    font-family: var(--font-general);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    text-transform: uppercase;
    color: var(--primary-darktext-color);
  }
  .film-description-items {
    font-family: var(--font-general);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: var(--primary-accent-color);
  }
  .film-description-items:last-child {
    margin-left: 7px;
    position: relative;
  }
  .film-description-items::before {
    position: absolute;
    right: 30px;
    content: '';
    width: 0.8px;
    height: 13px;
    background: var(--primary-accent-color);
  }
}
@include rangeMedia($preTab, $desk) {
  .films-card {
    width: 336px;
    height: 495px;
    margin: 0 auto;
  }
  .film-item-wrapper {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    padding-top: 8px;
  }
  .film-description-title {
    font-family: var(--font-general);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
    color: var(--primary-darktext-color);
  }
  .film-description-wrapper {
    display: flex;
    align-items: center;
  }
  .film-description-items {
    font-family: var(--font-general);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: var(--primary-accent-color);
  }

  .film-description-items:last-child {
    margin-left: 7px;
    position: relative;
  }
  .film-description-items::before {
    position: absolute;
    right: 30px;
    content: '';
    width: 0.8px;
    height: 13px;
    background: var(--primary-accent-color);
  }
}
@include minMedia($preDesk) {
  .films-card {
    width: 395px;
    height: 634px;
    margin: 0 auto;
  }
  .film-item-wrapper {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    padding-top: 12px;
  }
  .film-description-title {
    font-family: var(--font-general);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--primary-darktext-color);
  }
  .film-description-items {
    font-family: var(--font-general);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--primary-accent-color);
  }
  .film-description-wrapper {
    align-items: center;
    display: flex;
  }

  .film-description-items:last-child {
    margin-left: 9px;
    position: relative;
  }
  .film-description-items::before {
    position: absolute;
    right: 50px;
    top: 3px;
    content: '';
    width: 1.5px;
    height: 20px;
    background: var(--primary-accent-color);
  }
}
