.footer {
  background-color: var(--footer-background-color);
}
.copyright {
  padding-top: 30px;
  padding-bottom: 28px;
  text-align: center;
  font-family: var(--font-general);
  font-size: 14px;
  line-height: 1.14;
  color: var(--copyright-text-color);
  @include minMedia(768px) {
    font-size: 16px;
    line-height: 1.18px;
  }
}
.footer_heart {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}
.mob-fix {
  @include maxMedia(767px) {
    display: block;
    margin-top: 10px;
  }
}
.team-link {
  color: var(--copyright-text-color);
}
